certifi==2021.10.8
charset-normalizer==2.0.12
cycler==0.11.0
fonttools==4.31.2
idna==3.3
kiwisolver==1.4.2
matplotlib==3.5.1
numpy==1.22.3
packaging==21.3
pandas==1.4.1
Pillow==9.0.1
pyparsing==3.0.7
python-dateutil==2.8.2
python-dotenv==0.20.0
pytz==2022.1
requests==2.27.1
scipy==1.8.0
seaborn==0.11.2
six==1.16.0
spotipy==2.19.0
urllib3==1.26.9